*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
$font-primary: "FuturaShaD";
@font-face {
  font-family: FuturaShaD;
  src: url(/src/fonts/FuturaShaD-ExtBol.otf);
}

h1 {
  font-family: $font-primary;
  font-size: 5rem;
  color: rgb(0, 26, 255);
}
